<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>


    <ul class="list-unstyled components flex-fill" th:fragment="copy">


        <li>
            <a href="/report/report_order" class="img-drla" title="Делопроизводство" data-app-section="2">Перевод очно-заочно</a>
        </li>
        <li>
            <a href="/direction/index" class="img-address" title="Делопроизводство" data-app-section="3">Способ получения согласия</a>
        </li>
        <li>
            <a href="/time/index" class="img-favorite-small" title="Делопроизводство" data-app-section="3">Время Ожидания в очереди</a>
        </li>

        <li>
            <a href="/fss/index" class="img-fss" title="Делопроизводство" data-app-section="4">ФСС приглашения</a>
        </li>

    </ul>





</body>
</html>