<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://10.40.99.10:81/test.css" rel="stylesheet" />
</head>
<body>


    <ul class="list-unstyled components flex-fill" th:fragment="copy">


        <li>
            <a href="/report/report_order" class="img-drla" title="Делопроизводство" data-app-section="2">Перевод очно-заочно</a>
        </li>
        <li>
            <a href="/direction/index" class="img-drla" title="Делопроизводство" data-app-section="3">Способ получения согласия</a>
        </li>

    </ul>





</body>
</html>