<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<!--    <link href="http://10.40.99.10:81/main.css" rel="stylesheet" />-->
    <link href="http://10.40.99.10:81/test.css" rel="stylesheet" />
    <script src="http://10.40.99.10:81/jquery.min.js"></script>
    <script src="http://10.40.99.10:81/jquery.maskedinput.min.js"></script>
</head>

<body>
<div id="mainWrapper" class="wrapper ">
    <div id="mainMessages">
    </div>
    <div id="logo" class="flex">
        <span class="flex-fill"><i class="fa fa-wheelchair"></i>Сервис МСЭ</span>

    </div>
    <!-- Sidebar -->
    <nav id="sidebar" style="flex-direction: column; display:flex" th:insert="navbar :: copy"></nav>
    <nav id="content-nav" class="navbar navbar-expand-lg navbar-light bg-light">

    </nav>
    <div id="main-toolbar">

    </div>
    <div id="main">
        <div class="content">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">

                    <div>
                        <div th:each="s:${name}">
                            <div class="post_section"><span class="bottom"></span>


                                <h2 th:text="${s.headline}"></h2>

                                <strong th:text="${s.date}"></strong>


                                <p th:text="${s.text}"><big></big></p>

                                <td th:switch="${s.hrefBool}">
                                    <p th:case="1">

                                    </p>
                                    <p th:case="2">

                                        <a th:href="${s.href}">
                                            <button class="btn btn-primary">Открыть</button>
                                        </a>

                                    </p>
                                </td>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                <div class="col-sm-2">


                </div>
            </div>
        </div>
    </div>
    <div id="statusBar"><span id="statusMsg"></span></div>
</div>
</body>

</html>