<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/css/test.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.maskedinput.min.js}"></script>
</head>

<body>
<div id="mainWrapper" class="wrapper ">
    <div id="mainMessages">
    </div>
    <div id="logo" class="flex">
        <span class="flex-fill"><i class="fa fa-wheelchair"></i>Сервис МСЭ</span>

    </div>
    <!-- Sidebar -->
    <nav id="sidebar" style="flex-direction: column; display:flex" th:insert="navbar :: copy"></nav>
    <nav id="content-nav" class="navbar navbar-expand-lg navbar-light bg-light">

    </nav>
    <div id="main-toolbar">

    </div>
    <div id="main">
        <div class="container">
            <form action="http://10.40.99.10/direction/indert_good" method="get">

                <div class="container" style="margin: 10px">
                    <div class="row">
                        <div class="col-sm-3">Фамилия</div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-lg" th:value="${model.getLastName()}" name="LastName" readonly="">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Имя</div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-lg" th:value="${model.getFirstName()}" name="FirstName" readonly="">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Отчество</div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-lg" th:value="${model.getSecondName()}" name="SecondName" readonly="">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Отчество</div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-lg" th:value="${model.getSNILS()}" name="Snils" readonly="">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Бюро</div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-lg" th:value="${model.getExamBuroName()}" name="Buro" readonly="">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Рег.номер</div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-lg" th:value="${model.getRequestRegNumber()}" name="RegNumber" readonly="">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Направляющая организация</div>
                        <div class="col-sm-9">

                            <input class="form-control form-control-lg" th:value="${model.getReferralOrganizationComment()}" name="Org" readonly="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">ОГРН организации</div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-lg" th:value="${model.getReferralOrganizationOGRN()}" name="OgrnOrg" readonly="">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col">
                                <td>Тип направления</td>
                                <select class="custom-select custom-select-lg mb-3" name="tipDir">
                                    <option  value="1">Электронное</option>
                                    <option  value="2">Бумажное</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col">
                                <td>Согласие</td>
                                <select class="custom-select custom-select-lg mb-3" name="sogl">
                                    <option  value="1">Указано в тексте направления</option>
                                    <option  value="2">Указано в приложении к направлению</option>
                                    <option  value="3">Другое (Указать ниже)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col">
                                <input class="form-control form-control-lg" type="text" name="text" id="text" placeholder="Как полученно согласие">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col">
                                <button class="btn btn-primary" style="margin: 20px">Отправить</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div id="statusBar"><span id="statusMsg"></span></div>
</div>
</body>

</html>