<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="http://10.40.99.10:81/test.css" rel="stylesheet" />
    <script src="http://10.40.99.10:81/jquery.min.js"></script>
    <script src="http://10.40.99.10:81/jquery.maskedinput.min.js"></script>
</head>

<body>
<div id="mainWrapper" class="wrapper ">
    <div id="mainMessages">
    </div>
    <div id="logo" class="flex">
        <span class="flex-fill"><i class="fa fa-wheelchair"></i>Сервис МСЭ</span>

    </div>
    <!-- Sidebar -->
    <nav id="sidebar" style="flex-direction: column; display:flex" th:insert="navbar :: copy"></nav>
    <nav id="content-nav" class="navbar navbar-expand-lg navbar-light bg-light">

    </nav>
    <div id="main-toolbar">

    </div>
    <div id="main">
        <div class="container">
            <form action="http://10.40.99.10/report/reportFbOrderGood" method="get">

                <div class="container" style="margin: 10px">

                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col">
                                        <td><h1>СНИЛС</h1></td>
                                        <input class="snils form-control form-control-lg" type="text" name="snils" id="snils" placeholder="СНИЛС">




                                        <script>
$('.snils').mask('999-999-999 99');
</script>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col">
                                        <td><h1>Фамилия имя отчество</h1></td>
                                        <input class="form-control form-control-lg" type="text" name="fio" id="fio" placeholder="ФИО">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col">
                                        <td><h1>Номер бюро</h1></td>
                                        <select class="custom-select custom-select-lg mb-3" name="buro" id="buro">
                                            <option  value="201">Бюро медико-социальной экспертизы №1</option>
                                            <option  value="202">Бюро медико-социальной экспертизы №2</option>
                                            <option  value="203">Бюро медико-социальной экспертизы №3</option>
                                            <option  value="204">Бюро медико-социальной экспертизы №4</option>
                                            <option  value="205">Бюро медико-социальной экспертизы №5</option>
                                            <option  value="206">Бюро медико-социальной экспертизы №6</option>
                                            <option  value="207">Бюро медико-социальной экспертизы №7</option>
                                            <option  value="208">Бюро медико-социальной экспертизы №8</option>
                                            <option  value="209">Бюро медико-социальной экспертизы №9</option>
                                            <option  value="210">Бюро медико-социальной экспертизы №10</option>
                                            <option  value="211">Бюро медико-социальной экспертизы №11</option>
                                            <option  value="212">Бюро медико-социальной экспертизы №12</option>
                                            <option  value="213">Бюро медико-социальной экспертизы №13</option>
                                            <option  value="215">Бюро медико-социальной экспертизы №15</option>
                                            <option  value="217">Бюро медико-социальной экспертизы №17</option>
                                            <option  value="218">Бюро медико-социальной экспертизы №18</option>
                                            <option  value="219">Бюро медико-социальной экспертизы №19</option>
                                            <option  value="301">Экспертный состав №1</option>
                                            <option  value="302">Экспертный состав №2</option>
                                            <option  value="303">Экспертный состав №3</option>

                                        </select>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col">
                                        <select class="custom-select custom-select-lg mb-3" name="order" id="order">
                                            <option  value="1">Заочно в очно</option>
                                            <option  value="2">Очно в заочно</option>

                                        </select>
                                    </div>
                                </div>
                            </div>




                            <div class="row" style="margin: 30px">
                                <div class="col-sm-12">
                                    <div class="col">
                                        <td><h1>В указанных ниже пунктах выбрать да около причины(причин) перевода из <b>ЗАОЧНО В ОЧНО</b></h1></td>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="margin: 20px">
                                <div class="col-sm-2">
                                    <div class="col">
                                        <select class="custom-select custom-select-lg mb-3" name="check1" id="check1">
                                            <option  value="1">Нет</option>
                                            <option  value="2">Да</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col">
                                        <div>
                                            <div>Указания гражданином (его законным или уполномоченным представителем) соответствующего предпочтения в заявлении о проведении медико-социальной экспертизы или в заявлении об обжаловании решения бюро (главного бюро)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 20px">
                                <div class="col-sm-2">
                                    <div class="col">
                                        <select class="custom-select custom-select-lg mb-3" name="check2" id="check2">
                                            <option  value="1">Нет</option>
                                            <option  value="2">Да</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col">
                                        <div>
                                            <div>Невозможности удостовериться в полноте и достоверности сведений, содержащихся в представленных документах
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 20px">
                                <div class="col-sm-2">
                                    <div class="col">
                                        <select class="custom-select custom-select-lg mb-3" name="check3" id="check3">
                                            <option  value="1">Нет</option>
                                            <option  value="2">Да</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col">
                                        <div>
                                            <div>Выявления несоответствий между данными исследований и заключениями специалистов, направляющих гражданина на медико-социальную экспертизу, о степени выраженности стойких нарушений функций организма, обусловленных заболеваниями, последствиями травм и дефектами
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 20px">
                                <div class="col-sm-2">
                                    <div class="col">
                                        <select class="custom-select custom-select-lg mb-3" name="check4" id="check4">
                                            <option  value="1">Нет</option>
                                            <option  value="2">Да</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col">
                                        <div>
                                            <div>Необходимости обследования гражданина с применением специального диагностического оборудования, специальных медико-социальных экспертных методик и технологий для уточнения структуры и степени выраженности ограничений жизнедеятельности, функциональных нарушений, реабилитационного потенциала
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 20px">
                                <div class="col-sm-2">
                                    <div class="col">
                                        <select class="custom-select custom-select-lg mb-3" name="check5" id="check5">
                                            <option  value="1">Нет</option>
                                            <option  value="2">Да</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col">
                                        <div>
                                            <div>Если целью медико-социальной экспертизы гражданина, ранее признанного инвалидом, является разработка индивидуальной программы реабилитации или абилитации инвалида (ребенка-инвалида), за исключением случаев необходимости изменения персональных данных инвалида (ребенка-инвалида) и устранения технических ошибок (описок, опечаток, грамматических или арифметических ошибок либо подобных ошибок)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="margin: 20px">
                                <div class="col-sm-2">
                                    <div class="col">
                                        <select class="custom-select custom-select-lg mb-3" name="check6" id="check6">
                                            <option  value="1">Нет</option>
                                            <option  value="2">Да</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col">
                                        <div>
                                            <div>Если гражданин является получателем социальных услуг в организации социального обслуживания, оказывающей социальные услуги в стационарной форме социального обслуживания
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 20px">
                                <div class="col-sm-2">
                                    <div class="col">
                                        <select class="custom-select custom-select-lg mb-3" name="check6" id="check7">
                                            <option  value="1">Нет</option>
                                            <option  value="2">Да</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col">
                                        <div>
                                            <div>ПРП, УПТ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--                    <div class="row">-->
                            <!--                        <div class="col-sm-12">-->
                            <!--                            <div class="col">-->
                            <!--                                <td>Признан ли гражданин инвалидом</td>-->
                            <!--                                <select class="custom-select custom-select-lg mb-3" name="group" id="group">-->
                            <!--                                    <option  value="1">Признан</option>-->
                            <!--                                    <option  value="2">Не признан</option>-->
                            <!--                                </select>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                    </div>-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" name="text" id="text" placeholder="Причина перевода ОЧНО В ЗАОЧНО">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col">
                                    <button class="btn btn-primary" style="margin: 20px">Отправить</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="statusBar"><span id="statusMsg"></span></div>
</div>
</body>

</html>